.response {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  pre {
    padding: 1em 2em;
    background-color: #0b0b0b;
    border-radius: 1em;
    white-space: pre-wrap;
  }
}